
img{
	box-shadow:  0px 0px 11px 1px #ccc;
}

h3{
	margin-top: 50px;
	font-size: 35px;
	font-weight: bold;
}
footer{
	margin-top: 80px;
}

.top-margin{
	margin-top: 80px;
}

.top-margin{
	margin-top: 50px;
}